In [1]:
#dictionary DS

In [ ]:
1. it consist data in the form of key:value pair
2. keys are always immutable
3. values can be mutable or immutable
4. dict is mutable in nature
5. unordered DS

In [6]:
py_dict={'a':1,'b':2,'c':3}

In [7]:
type(py_dict)

dict

In [8]:
py_dict[1]

KeyError: 1

In [1]:
#create empty dict

In [2]:
d={}

In [3]:
type(d)

dict

In [4]:
d

{}

In [11]:
#creating dictionary using dict() method

In [12]:
d1=dict({1:'a',2:'b',3:'c'})

In [13]:
d1

{1: 'a', 2: 'b', 3: 'c'}

In [14]:
#creating dictionary using each items as pair

In [14]:
d2=dict([('name','Justin'),('loc','pune'),('sal',65000)])

In [16]:
d2

{'name': 'Justin', 'loc': 'pune', 'sal': 65000}

In [18]:
print('Name: ',d2['name'])

Name:  Justin

In [33]:
print('Name: %s'%d2['name'])

Name: Justin

In [35]:
#how to display multiple data

In [21]:
print('Name: %s Location: %s' %d2['name']%d2['loc'])

TypeError: not enough arguments for format string

In [22]:
'Name: %s'%d2['name']

'Name: Justin'

In [24]:
'Name: ',d2['name']

('Name: ', 'Justin')

In [29]:
type('Name: ',d2['name'])

TypeError: type() takes 1 or 3 arguments

In [30]:
type({'Name: ',d2['name']})

set

In [27]:
type(('Name: ',d2['name']))

tuple

In [1]:
person_dict={'name':'John','sal':85000,'company':'IBM','loc':'pune'}

In [2]:
person_dict

{'name': 'John', 'sal': 85000, 'company': 'IBM', 'loc': 'pune'}

In [4]:
person_dict['name']

'John'

In [8]:
#We can have immutable DS as key i.e tuple, str, int, frozenset

In [ ]:
#but donnt use tuple in dict because it is never used

In [6]:
py_dict={(1,2,3):'a',(4,5,6):'b',('a','b','c'):(7,8,9)}

In [7]:
py_dict

{(1, 2, 3): 'a', (4, 5, 6): 'b', ('a', 'b', 'c'): (7, 8, 9)}

In [9]:
py_dict[(1,2)]

KeyError: (1, 2)

In [12]:
py_dict((1,2,3))

TypeError: 'dict' object is not callable

In [13]:
py_dict[(1,2,3)]

'a'

In [14]:
dict1={'a':1,'b':2,'c':3}

In [15]:
dict2={1:2,3:4,5:6}

In [ ]:
#use str as key

In [16]:
dict1

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#use int as key

In [17]:
dict2

{1: 2, 3: 4, 5: 6}

In [ ]:
#use frozenset as key

In [24]:
dict3={frozenset([1,2,3]):'a','b':'c'}

In [25]:
dict3

{frozenset({1, 2, 3}): 'a', 'b': 'c'}

In [ ]:
#cannt use mutable data as key i.e list, set, dict

In [18]:
#use list as key

In [19]:
d1={[1,2]:'a',[3,4]:'b'}

TypeError: unhashable type: 'list'

In [20]:
#use set as key

In [21]:
d2={{1,2}:'a',{4,5}:'b'}

TypeError: unhashable type: 'set'

In [26]:
#use dict as key

In [27]:
d3={{1:1,2:2}:'a'}

TypeError: unhashable type: 'dict'

In [22]:
person_dict={'name':['John','Helly','deina','Mark'],'sal':[85000,45000,97000,69000],'company':['IBM','TCS','Google','Apple'],'loc':['pune','canada','new york','singapur']}

In [3]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur']}

In [31]:
import pandas as pd

In [ ]:
#two ways to access the value
1. dict_name[key]-->if key present then return value, if not then return error
2. dict_name.get(key,defaultVal)-->if key present then return value, if not then return default value

In [ ]:
#dict_name[key]

In [34]:
person_dict['name']

['John', 'Helly', 'deina', 'Mark']

In [35]:
person_dict['sal']

[85000, 45000, 97000, 69000]

In [23]:
person_dict['age']

KeyError: 'age'

In [36]:
#dict_name.get(key,defaultVal)

In [37]:
person_dict.get('company')

['IBM', 'TCS', 'Google', 'Apple']

In [38]:
person_dict.get('email','no data present')

'no data present'

In [4]:
person_dict.get('company')[1]

'TCS'

In [5]:
person_dict.get('name')[-1]

'Mark'

In [6]:
person_dict['name'][-1]

'Mark'

In [24]:
person_dict.get('age')

In [7]:
#insert items into dict

In [ ]:
1. dict_name[key]=value -->add single item into dict
  if key already present in dict then value get updated, otherwise new key-value pair is added in dict
2. dict_name.update({list of items}) -->add multiple items into dict

In [8]:
#dict_name[key]=value

In [9]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur']}

In [11]:
person_dict['dept']=['analyst','data scientics','java developer','software testing']

In [12]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'dept': ['analyst', 'data scientics', 'java developer', 'software testing']}

In [13]:
person_dict['DOJ']=None

In [14]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'dept': ['analyst', 'data scientics', 'java developer', 'software testing'],
 'DOJ': None}

In [28]:
person_dict['dept']='data science'

In [ ]:
#In dict, key cannt be duplicate
it will overwrite/update the latest key value

In [29]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'dept': 'data science',
 'DOJ': None,
 'shift': ['morning', 'evening', 'night', 'morning'],
 'rank': 'HR',
 'email': 'xyz@gmail.com',
 'mobile': 8753587678}

In [15]:
#dict_name.update(list of items)

In [20]:
person_dict.update({'shift':['morning','evening','night','morning'],'rank':'HR'})

In [21]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'dept': ['analyst', 'data scientics', 'java developer', 'software testing'],
 'DOJ': None,
 'shift': ['morning', 'evening', 'night', 'morning'],
 'rank': 'HR'}

In [26]:
person_dict.update({'email':'xyz@gmail.com','mobile':8753587678})

In [27]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'dept': ['analyst', 'data scientics', 'java developer', 'software testing'],
 'DOJ': None,
 'shift': ['morning', 'evening', 'night', 'morning'],
 'rank': 'HR',
 'email': 'xyz@gmail.com',
 'mobile': 8753587678}

In [36]:
person_dict={'name':['John','Helly','deina','Mark'],'sal':[85000,45000,97000,69000],'company':['IBM','TCS','Google','Apple'],'loc':['pune','canada','new york','singapur']}

In [37]:
person_dict

{'name': ['John', 'Helly', 'deina', 'Mark'],
 'sal': [85000, 45000, 97000, 69000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur']}

In [38]:
#use update() method to update value of existing key

In [39]:
person_dict.update({'name':['Justin','Juhi'],'sal':[98000,75000],'post':['analyst','data science']})

In [40]:
person_dict

{'name': ['Justin', 'Juhi'],
 'sal': [98000, 75000],
 'company': ['IBM', 'TCS', 'Google', 'Apple'],
 'loc': ['pune', 'canada', 'new york', 'singapur'],
 'post': ['analyst', 'data science']}

In [5]:
#take input from user

In [6]:
name=input('Enter name')

Enter nameMayuri

In [7]:
print(name)

Mayuri

In [8]:
loc=input('Enter location')

Enter locationpune

In [9]:
loc

'pune'

In [10]:
print(loc)

pune

In [41]:
emp={'name':'John','sal':98000,'loc':'pune','company':'IBM'}

In [42]:
emp

{'name': 'John', 'sal': 98000, 'loc': 'pune', 'company': 'IBM'}

In [43]:
emp['name']=input('Enter Name')

Enter NameMayuri

In [44]:
emp

{'name': 'Mayuri', 'sal': 98000, 'loc': 'pune', 'company': 'IBM'}

In [45]:
emp['sal']=int(input('Enter Salary: '))
emp['loc']=input('Enter Location: ')
emp['company']=input('Enter Company')

Enter Salary: 100000
Enter Location: Pune
Enter CompanyGoogle

In [46]:
emp

{'name': 'Mayuri', 'sal': 100000, 'loc': 'Pune', 'company': 'Google'}

In [47]:
#delete element using del keyword

In [49]:
del emp['sal']

In [50]:
emp

{'name': 'Mayuri', 'loc': 'Pune', 'company': 'Google'}

In [51]:
del emp['loc']

In [52]:
emp

{'name': 'Mayuri', 'company': 'Google'}

In [53]:
#delete dict

In [54]:
del emp

In [55]:
emp

NameError: name 'emp' is not defined

In [56]:
emp={'name':['John','Justin','Helly'],'sal':98000,'loc':['pune','canada','new york'],'company':'IBM'}

In [57]:
emp

{'name': ['John', 'Justin', 'Helly'],
 'sal': 98000,
 'loc': ['pune', 'canada', 'new york'],
 'company': 'IBM'}

In [58]:
del emp['loc'][0]

In [59]:
emp

{'name': ['John', 'Justin', 'Helly'],
 'sal': 98000,
 'loc': ['canada', 'new york'],
 'company': 'IBM'}

In [60]:
del emp['name'][1]

In [61]:
emp

{'name': ['John', 'Helly'],
 'sal': 98000,
 'loc': ['canada', 'new york'],
 'company': 'IBM'}

In [ ]:
#delete element from dict
1. pop(key)-->remove item associate to given key and return value
2. popitem()-->remove arbitrary/random element from dictionary
3. clear()-->remove all element from dictionary

In [1]:
#pop(key)

In [6]:
emp={'name':['John','Justin','Helly'],'sal':98000,'loc':['pune','canada','new york'],'company':'IBM'}

In [7]:
emp.pop('sal')

98000

In [8]:
emp

{'name': ['John', 'Justin', 'Helly'],
 'loc': ['pune', 'canada', 'new york'],
 'company': 'IBM'}

In [ ]:
#to remove desired value in list of dict
use del

In [ ]:
#pop will remove complete item(key value) and not part of value

In [9]:
emp.pop('loc')[0]

'pune'

In [10]:
emp

{'name': ['John', 'Justin', 'Helly'], 'company': 'IBM'}

In [11]:
#popitem()

In [12]:
emp

{'name': ['John', 'Justin', 'Helly'], 'company': 'IBM'}

In [13]:
emp['sal']=[1000,2000,3000,4000]

In [14]:
emp['post']='data science'

In [15]:
emp

{'name': ['John', 'Justin', 'Helly'],
 'company': 'IBM',
 'sal': [1000, 2000, 3000, 4000],
 'post': 'data science'}

In [16]:
emp.popitem()

('post', 'data science')

In [17]:
emp.popitem()

('sal', [1000, 2000, 3000, 4000])

In [18]:
emp.popitem()

('company', 'IBM')

In [19]:
emp

{'name': ['John', 'Justin', 'Helly']}

In [20]:
emp.popitem()

('name', ['John', 'Justin', 'Helly'])

In [21]:
emp

{}

In [22]:
dict1={1:1,2:2,3:3,4:4,5:5,8:5,9:6,2:7,7:9}

In [23]:
dict1

{1: 1, 2: 7, 3: 3, 4: 4, 5: 5, 8: 5, 9: 6, 7: 9}

In [24]:
dict1.popitem()

(7, 9)

In [26]:
dict1.popitem()

(9, 6)

In [27]:
dict1.popitem()

(8, 5)

In [29]:
dict1.popitem()

(4, 4)

In [30]:
dict1.popitem()

(3, 3)

In [31]:
dict1.popitem()

(2, 7)

In [32]:
dict1.popitem()

(1, 1)

In [33]:
dict1.popitem()

KeyError: 'popitem(): dictionary is empty'

In [34]:
dict1={1:1,2:2,3:3,4:4,5:5,8:5,9:6,2:7,7:9}

In [35]:
dict1

{1: 1, 2: 7, 3: 3, 4: 4, 5: 5, 8: 5, 9: 6, 7: 9}

In [36]:
dict1.clear()

In [37]:
dict1

{}

In [38]:
#print all key of the dictionary

In [25]:
py_dict={'name':'helly','sal':2000,'post':'data science','company':'IBM','loc':'Canada'}

In [40]:
for x in py_dict:
    x

In [41]:
x

'loc'

In [42]:
for x in py_dict:
    print(x)

name
sal
post
company
loc

In [55]:
for x in py_dict.keys():
    print(x)

name
sal
post
company
loc

In [ ]:
#print all keys of dict

In [45]:
type(py_dict.keys())

dict_keys

In [46]:
py_dict.keys()

dict_keys(['name', 'sal', 'post', 'company', 'loc'])

In [47]:
#for loop to print all values of dict

In [49]:
for x in py_dict:
    print(py_dict[x])

helly
2000
data science
IBM
Canada

In [50]:
py_dict.values()

dict_values(['helly', 2000, 'data science', 'IBM', 'Canada'])

In [51]:
type(py_dict.values())

dict_values

In [54]:
for x in py_dict.values():
    print(x)

helly
2000
data science
IBM
Canada

In [52]:
#for loop to print all items of dict

In [53]:
for x in py_dict.items():
    print(x)

('name', 'helly')
('sal', 2000)
('post', 'data science')
('company', 'IBM')
('loc', 'Canada')

In [56]:
for x,y in py_dict.items():
    print(x,y)

name helly
sal 2000
post data science
company IBM
loc Canada

In [26]:
py_dict.items()

dict_items([('name', 'helly'), ('sal', 2000), ('post', 'data science'), ('company', 'IBM'), ('loc', 'Canada')])

In [1]:
#built-in dictionary function

In [ ]:
NOT WORKING
1. cmp(dict1,dict2)-->it compare items of both the dictionary and return true if first dict values are greater than second dict
                    otherwise return false

In [ ]:
WORKING
2.len(dict1)-->length of dict
3.str(dict1)-->convert dict into printable string representation
4.type(var)-->it is used to print the type of variable

In [2]:
#cmp(dict1,dict2)

In [3]:
d1={'a':1,'b':2,'c':3}

In [4]:
d2={'a':1,'b':2,'c':3}

In [5]:
cmp(d1,d2)

NameError: name 'cmp' is not defined

In [6]:
#len(dict1)

In [7]:
len(d1)

3

In [8]:
#str(dict1)

In [9]:
str_var=str(d1)

In [10]:
str_var

"{'a': 1, 'b': 2, 'c': 3}"

In [11]:
str(d2)

"{'a': 1, 'b': 2, 'c': 3}"

In [12]:
#type(d1)

In [13]:
type(d1)

dict

In [27]:
#create dict only with keys

In [28]:
#dict.fromkeys(list of keys,defaultVal)

In [32]:
d1=dict.fromkeys(['name','sal','comapny'],None)

In [30]:
d1

{'name': None, 'sal': None, 'comapny': None}

In [35]:
#dictN.setdefault(key,defaultVal)-->if key present do nothing, if not then insert key:value pair

In [36]:
d1.setdefault('name','helly')

In [37]:
d1.setdefault('age',26)

26

In [38]:
d1

{'name': None, 'sal': None, 'comapny': None, 'age': 26}

In [39]:
d1.index('name')

AttributeError: 'dict' object has no attribute 'index'

In [1]:
#insert items from dict to another

In [2]:
d1={'id':1,'name':'mark','marks':99}

In [3]:
d2={'addr':'pune','mobile':9753852794}

In [11]:
d1.update({list(d2.items())[0][0]:list(d2.items())[0][1]})

In [12]:
d1

{'id': 1,
 'name': 'mark',
 'marks': 99,
 ('addr', 'pune'): ('addr', 'pune'),
 'addr': 'pune'}

In [14]:
d1.pop(('addr',"pune"))

('addr', 'pune')

In [15]:
d1

{'id': 1, 'name': 'mark', 'marks': 99, 'addr': 'pune'}