In [ ]:
#tuple
1.collection of different/similar type element
2.immutable type DS, but can have mutable elements
3.it allow duplicate elements
4.it is 0 based index
5.ordered data type
6.It is read only type
7.()

In [1]:
py_tuple=(1,2,3,4)--->collection similar data type

In [2]:
type(py_tuple)

tuple

In [4]:
py_tuple[2]

3

In [5]:
py_tuple[2]='python'

TypeError: 'tuple' object does not support item assignment

In [6]:
py_tuple1=(2,5.4,9j,'python')#-->collection of different data type element

In [22]:
tup1=()

In [23]:
type(tup1)

tuple

In [ ]:
#tup2=(4)--->create integer data type

In [25]:
tup2=(4)

In [26]:
type(tup2)

int

In [44]:
tup2

4

In [ ]:
#tup3=('apple')-->create string data type

In [27]:
tup3=('apple')

In [28]:
type(tup3)

str

In [29]:
#to create tuple with single element

In [30]:
tup4=('python',)

In [31]:
type(tup4)

tuple

In [32]:
tup4

('python',)

In [7]:
py_tup=(1,6,8,('a','b','c'),True,1,1)

In [ ]:
#we can create list inside tuple

In [8]:
py_tup_list=(2,4,['x','y','z'])

In [9]:
py_tup_list

(2, 4, ['x', 'y', 'z'])

In [10]:
py_tup_list[-1][1]

'y'

In [ ]:
#we can perform operation on list with is inside the tuple

In [11]:
py_tup_list[-1][1]='python'

In [12]:
py_tup_list

(2, 4, ['x', 'python', 'z'])

In [13]:
py_tup_list[-1].reverse()

In [14]:
py_tup_list

(2, 4, ['z', 'python', 'x'])

In [15]:
#real time use of tuple
1.infrequent data change
2.accidently change

eg: username & password, longitude & latitude of location

In [ ]:
#methods on tuple
1.count(element)-->count the no. of occurence of duplicate element
2.index(element)-->if element found/match return index
                    else return ValueError

In [ ]:
#var_name.count(element)

In [16]:
tuple1=(1,2,1,3,5,True)

In [17]:
tuple1.count(1)

3

In [21]:
tuple1.count('python')

0

In [18]:
#var_name.index(element)

In [19]:
tuple1.index(1)

0

In [20]:
tuple1.index('python')

ValueError: tuple.index(x): x not in tuple

In [33]:
#sort vs sorted

In [35]:
tuple_sort=(1,4,7.3,'python',2)

In [36]:
tuple_sort.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [37]:
sorted(tuple_sort)

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
#sorted function take tuple as argument and return sorted list, not tuple
original tuple remain unchange

In [38]:
tuple_sort=(1,4,7.3,9,6.4,2)

In [39]:
sorted(tuple_sort)

[1, 2, 4, 6.4, 7.3, 9]

In [40]:
tuple_sort

(1, 4, 7.3, 9, 6.4, 2)

In [41]:
#adding tuples together

In [42]:
a=(1,2,3)
b=('a','b','c')
c=a+b

In [43]:
c

(1, 2, 3, 'a', 'b', 'c')

In [2]:
a=10,

In [3]:
type(a)

tuple

In [4]:
a

(10,)

In [5]:
a=(20)

In [6]:
a

20

In [7]:
type(a)

int

In [8]:
b=('ashish')

In [9]:
b

'ashish'

In [10]:
type(b)

str

In [11]:
c=10,

In [12]:
type(c)

tuple

In [13]:
c

(10,)

In [14]:
x,=c

In [15]:
x

10

In [16]:
x=28
y=30
x,y=y,x

In [17]:
x

30

In [18]:
y

28

In [19]:
x=y, y=x

TypeError: cannot unpack non-iterable int object

In [ ]:
x